.ag-grid-container {
  width: 100%;

  .ag-theme-balham {
    height: 600px;
  }
}

.footer-grid {
  height: 50px;
  border: 1px solid #BDC3C7;
  border-top: none;
  align-items: center;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;

  &__selected {
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}
